@{
    ViewData["Title"] = "Política de Privacidade da Loja Marketplace";
}
<h1>@ViewData["Title"]</h1>

<section>
    <p><strong>1. Introdução</strong></p>
    <p>A Loja Marketplace está empenhada em proteger a privacidade e a segurança das informações pessoais de seus usuários. Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações pessoais que você fornece ao utilizar nossa plataforma de comércio eletrônico.</p>

    <p><strong>2. Informações Coletadas</strong></p>
    <p>Ao utilizar a Loja Marketplace, podemos coletar as seguintes informações:</p>

        <p>a) Informações de Cadastro: Ao criar uma conta, podemos coletar seu nome, endereço de e-mail, número de telefone e outras informações de contato.</p>

    <p>b) Informações de Pagamento: Ao efetuar uma compra, podemos coletar informações de pagamento, como número do cartão de crédito e endereço de faturamento.</p>

    <p>c) Informações de Navegação: Podemos coletar informações sobre como você utiliza nosso site, incluindo páginas visitadas, produtos visualizados e tempo gasto na plataforma.</p>

    <p> d) Informações de Localização: Se você permitir, podemos coletar informações de localização para fornecer serviços personalizados, como opções de entrega.<p>

    <p><strong>3. Uso das Informações</strong></p>
    <p>As informações coletadas pela Loja Marketplace são utilizadas para:</p>
    <p>a) Processar Transações: Utilizamos suas informações para processar e completar suas transações de compra.</p>
    <p>b) Melhorar a Experiência do Usuário: As informações de navegação são utilizadas para entender como os usuários interagem com nosso site, permitindo-nos melhorar a experiência do usuário.</p>
    <p>c) Comunicações: Podemos enviar e-mails relacionados a transações, atualizações sobre pedidos e informações de marketing com seu consentimento.</p>
    <p>d) Prevenção de Fraudes: Utilizamos informações para detectar e prevenir atividades fraudulentas.</p>

    <p><strong>4. Compartilhamento de Informações</strong></p>
    <p>A Loja Marketplace pode compartilhar suas informações pessoais com terceiros apenas nas seguintes circunstâncias:</p>
    <p>a) Parceiros de Negócios: Para processar transações e fornecer serviços, podemos compartilhar informações com parceiros de negócios confiáveis.</p>
    <p>b) Requisitos Legais: Podemos divulgar informações quando exigido por lei ou para proteger nossos direitos legais.</p>

    <p><strong>5. Alterações na Política de Privacidade</strong></p>
    <p>A Loja Marketplace reserva-se o direito de atualizar esta Política de Privacidade periodicamente. Recomendamos que revise esta política regularmente para estar ciente de quaisquer alterações.</p>

    <p>Ao utilizar a Loja Marketplace, você concorda com os termos desta Política de Privacidade. Se não concordar com estes termos, por favor, não utilize nossa plataforma.</p>
</section>